* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  background-color: aquamarine;
  color: white;
}
p {
  color: red;
  background-color: azure;
}

.elemento {
  display: inline-block;
  width: calc(50% - 2px);
  background-color: aliceblue;
}
